* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: url("bei.jpg");
  color: #fff;
  transition: 0.3s;
}

header {
  background-color: #1e4d4d;
  padding: 15px 20px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

nav h1 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
}

.nav-links li a:hover {
  color: ;
}

.btn-light {
  background-color: #FF8484;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.hero {
  background-color: #1e4d4d;
  text-align: center;
  padding: 40px 20px;
}

.hero h2 {
  color: #FF8484;
  text-decoration: underline;
  margin-bottom: 20px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border: 3px solid #FF8484;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 15px;
  display: block;
}

section {
  padding: 30px 20px;
}

section h3 {
  color: #FF8484;
  text-decoration: underline;
  margin-bottom: 15px;
  font-size: 22px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.skill-card:hover{
  color: darksalmon;
}

.skill-card,.hobbies  {
  background-color: #2a3a3a;
  border-left: 4px solid #1e4d4d;
  padding: 15px;
  text-align: center;
  border-radius: 4px;
}

.edu-card, .contact-info, .hobbies {
  background-color: #2a3a3a;
  padding: 15px;
  border-radius: 4px;
  border-left: 4px solid #FF8484;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1e4d4d;
  margin-top: 20px;
}

/* Light mode */
body.dark {
  background-color: #f5f5f5;
  color: #5582ff;
}

body.light header,
body.light .hero,
body.light footer {
  background-color: #d4f1f1;
}

body.light .edu-card,
body.light .contact-info,
body.light .skill-card 
body.light .hobbies{
  background-color: #fff;
  color: #222;
}

@media (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.h1-color{
  color: dpink;
  text-align: center;
}
.h3-color{
  padding-left: 36px;
}

